/* Core styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */

@font-face {
  font-family: "SFProDisplay";
  src: url("./fonts/SourceSansPro-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("./fonts/SourceSansPro-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("./fonts/SourceSansPro-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/montserrat/Montserrat-SemiBold.ttf");
  font-weight: 600;
}

body {
  background-color: #e5e5e5;
  font-family: "SFProDisplay", sans-serif;
  color: #2d3a45;
}
